.btnDownloadGray {background-image:url(../image/btn_download_gray.png); background-repeat:no-repeat; background-position:8px center; text-indent: -9999px; overflow: hidden; display: block; width:37px;}
input[type=number]::-webkit-outer-spin-button,input[type=number]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
#refuseConfirm {font-size:12px; text-decoration:underline;cursor:pointer}
#sttusView{margin:0 10px; white-space: nowrap;}

.infotip {position: relative; display: inline-block; text-decoration: none; outline: none; margin-left: 5px;}
.infotip div.balloonGrp{visibility: hidden; position: absolute; min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; left: 27px; top: -5px; white-space: normal; z-index: 9999999; display: block; background-size: 100%;}
.balloon{position: relative; line-height: 2em; top: 0px; font-weight: 500; width:248px;font-size:12px;}
/*.infotip:hover{border: 0; }*/
.infotip:hover div{visibility: visible;}

td.pointer span.pointer{border-bottom: 1px solid;}

.imgWring {font-size: 11px; color: rgb(102,140,207);}

.douChtTitle{font-size: 13px; font-weight: bold;}
.chart_donut {min-width: 131px; max-height: 140px; margin: 0 auto; margin: 10px auto; max-width: 200px; width: 205px; width: 145px !important;}
.douChtDiv{text-align:center; width:16%; margin:30px 0px 20px 0px;min-width:156px}
#canvas-holder {width: 100%; margin-top: 50px; text-align: center;}
#chartjs-tooltip {opacity: 0; position: absolute; background: rgba(0, 0, 0, .7); color: white; border-radius: 3px; -webkit-transition: all .1s ease; transition: all .1s ease; pointer-events: none; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); font-size: 12px; padding: 4px 11px 2px 11px !important}
.chartjs-tooltip-key {display: inline-block;width: 10px;height: 10px;margin-right: 10px;}
.contsBox{ height: 151px; width: 40%; position: relative; margin: 0 auto; min-width: 100px; max-width: 141px; border:solid 1px #aaa; border-radius:5px; background-color:#f5f5f5; padding:0;}
.percentBox{width:100%; background-color:#628bd3; border:solid 0px #103363; border-radius:5px; position:absolute; bottom:0; text-align:center; color:#fff;     overflow: visible !important;}
.chartBox{float:left; width: 20%; min-width: 156px; text-align:center;}
.useStatTxt{text-align: center; font-size: 12px; line-height: 1.3; font-weight: bold; position:absolute; width:100%;color: #f9f7f7;text-shadow:-1px 0 #4e4d4d, 0 1px #4e4d4d, 1px 0 #4e4d4d, 0 -1px #4e4d4d;}
.useStatBottmTxt{font-size: 14px;line-height: 1.4; margin-top: 2%;}
.third-chart-container{height: 200px}
.d_none {display:none !important}

.tableArea .ContentSelectBox{margin:3px 5px 3px 0px}
.tableArea .ContentSelectBoxOn{margin:3px 5px 3px 0px; background-color:#628bd3; border:solid 1px #5071a9; color:#fff;}

#thumbnailArea .fileTable:last-child tr > td,
#coverImgArea .fileTable:last-child tr > td,
#videoArea .videoForm:last-child tr > td,
#fileArea .fileTable:last-child tr > td {border-bottom:0px !important; width:50%}
/* 웹툰 콘텐츠 파일 등록 시 생기는 밑줄 삭제 */
#webtoonArea .fileTable td {border-bottom:0px !important;}

.prevArea tr:last-child > td {border-bottom:0px !important}
#prevArea .prevForm tr:last-child > td {border-bottom:0px !important}
#jqgridData, #gridArea th, #jqgridData td, #gridArea td{font-family:'맑은 고딕', malgunGothic,'나눔고딕',Nanum Gothic, '나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif;}
.btnHelp {width:25px; height:25px; font-weight:600; color:#f00; background-color:#fff4f4; cursor:pointer; border:solid 1px #f30; border-radius:50px; display:inline-block; text-align:center;}

/* popupModifyHst */
#popupModifyHst {width:1000px; height:500px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff; right:auto; top:100px; position:absolute; z-index:3010; /* display:none; */}
#popupModifyHst .conTitleGrp {height:70px; }
#popupModifyHst .conTitleGrp .text {font-size:14px;}
#popupModifyHst .conTitleGrp .conTitle {font-size:26px; font-weight:600; color:#101010; letter-spacing:-1px; height:40px;  border-bottom:solid 3px #333;}

/* popupCheckHst */
#popupCheckHst {width:500px; height:500px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff; right:100px; top:100px; position:absolute; z-index:3010;}
#popupCheckHst .conTitleGrp {height:70px;}
#popupCheckHst .conTitleGrp .text {font-size:14px;}
#popupCheckHst .conTitleGrp .conTitle {font-size:26px; font-weight:600; color:#101010; letter-spacing:-1px; height:40px;  border-bottom:solid 3px #333;}

/* 서브메타데이터 등록 팝업창 */
#popupRegistSubmetadata { position: absolute; width: 500px; min-height: 400px; max-height: 590px; border: solid 1px #999; top: 100px; left: 30%; padding: 20px; background-color: #fff; box-shadow: 5px 5px 2px #ddd; }
#popupRegistSubmetadata .popupTitle {padding: 10px 5px; font-size:18px; font-weight:600; width: 100%; position: relative; text-align: center; border-bottom:solid 2px #333;}
#popupRegistSubmetadata .metadataGrpSubmetadata { border : solid 1px #aaa; padding : 10px; font-size : 14px; margin-top:20px;}
#popupRegistSubmetadata .metadataGrpSubmetadata th { text-align: right; padding: 10px; backgroud-color: #fff; }

/* 서브메타데이터 수정 팝업창 */
#popupEditSubmetadata { position: absolute; width: 500px; min-height: 400px; max-height: 590px; border: solid 1px #999; top: 100px; left: 30%; padding: 20px; background-color: #fff; box-shadow: 5px 5px 2px #ddd; }
#popupEditSubmetadata .popupTitle {padding: 10px 5px; font-size:18px; font-weight:600; width: 100%; position: relative; text-align: center; border-bottom:solid 2px #333;}
#popupEditSubmetadata .metadataGrpSubmetadata {border : solid 1px #aaa; padding : 10px; font-size : 14px; margin-top:20px;}
#popupEditSubmetadata .metadataGrpSubmetadata th { text-align: right; padding: 10px; backgroud-color: #fff; }

/* 서브메타데이터 상세보기 화면 팝업창 */
#popupDetailSubmetadata { position: absolute; width: 500px; min-height: 200px; max-height: 800px; border: solid 1px #999; top: 100px; left: 30%; padding: 20px; background-color: #fff; box-shadow: 5px 5px 2px #ddd; }
#popupDetailSubmetadata .popupTitle {padding: 10px 5px; font-size:18px; font-weight:600; width: 100%; position: relative; text-align: center; border-bottom:solid 2px #333;}
#popupDetailSubmetadata .metadataGrpSubmetadata { border : solid 1px #aaa; font-size : 14px; margin-top:20px;}
#popupDetailSubmetadata .metadataGrpSubmetadata th {width: 130px; padding: 5px; background-color: #f5f5f5;border-right: solid 1px #ddd; }
#popupDetailSubmetadata #detailSubmetadata {width: 100%;}
#popupDetailSubmetadata #detailSubmetadata th {border-bottom: solid 1px #ddd;}
#popupDetailSubmetadata #detailSubmetadata td {border-bottom: solid 1px #ddd; padding: 0 0 0 10px;}

.btnDefaultWhiteSub {border:solid 1px #999; background-color:#fff; color:#333; font-size:14px; font-weight:600; padding:1px 1px; width:100px; text-align:center; cursor:pointer; border-radius:3px;}
.btnMetadataSub {background-image:url(../image/btn_metadata_detail.png); background-repeat:no-repeat; background-position:5px center; padding-left: 25px;}

span.replyIcon::after {content: ""; background-image: url(../image/icon_reply.png); background-size: 100%; display: inline-block; width: 40px; height: 20px; background-repeat: no-repeat; position: absolute;}
.second-chart-container{margin-bottom:40px;}
.graphGrp{display:inline-block}
.third-chart-container{min-height:300px}

.nbr24{margin-top:24px;}
.boxStateBlack {padding: 4px 10px; height: 28px; border: solid 1px #aaa; font-weight: 600; text-align: center; color: #000; background-color: #f5f5f5; border-radius: 3px; line-height: 1.0em; display: inline-block;}
.tableArea .tableForm tr{height:auto;}
.tableArea .tableForm th:first-of-type::after {content: ""; display: inline-block; vertical-align: middle; min-height: 39px;}
.prevPart #prevArea td{border:0px}
.videoPart #videoArea td.sub,
.prevPart #prevArea td.sub,.prevPart #prevArea td.content,.fileTable td{padding: 2px 5px; width:50%}
.searchBox{position: relative; left: 0px; top: 0px; position: relative; left: 0px; top: 0px; display: table; vertical-align: middle;}
.searchBox .searchGrp{width:auto;}

/* important notice */
.noticeImptRowBold td {font-weight : bold !important}

/* important notice */
.noticeImptRowBold td {font-weight : bold !important}
#versionModify{vertical-align:text-top;}
#contsVer {float:left; width:50px;}


/*tableCenter*/
.absol_btn .cellTable{width: 0px;height: 0px; position:absolute; z-index:1}
.absol_btn .cellTable input[type=button] {position:absolute; top:24px;}
.absol_btn .cellTable:nth-child(0){left:0px}
.absol_btn .searchBox + .cellTable input{right:0px}
.absol_btn .searchBox + .cellTable{float:right}

.CenterGrp{border: solid 0px #f30; clear: both; position: relative; display: table; width: 100%; margin: 0; padding: 0px; height: 84px; vertical-align: middle;}
.CenterGrp .searchBox{margin-top: 0px; display: table-cell; text-align: center; width: 100%; vertical-align: middle; left: 0; top: 0; position:relative}
.CenterGrp .searchBox .searchGrp{width:auto; display: inline-block; vertical-align: middle;}
.CenterGrp .searchBox .searchGrp div{margin-top: 0px;}
.CenterGrp .searchBox .searchGrp .selectBox{padding:0px}
.CenterGrp .cellTable{display: table-cell; vertical-align: middle;}

/* layout*/
#contents{padding-right:0px}
#rightGrp{padding:40px 40px 0px 40px}
#contents{min-height: calc(100% - 100px);}
#bottom{margin-top:50px;}
#pwdloginMiddle + #bottom{margin-top:100px;}
/* layout*/

/*Conts  Regist & edit ProcessBar S*/
#divCenter {width:100%; height:100%; top:0px; left:0px; position:fixed; display:block; background-color:rgba(255,255,255,0.7); z-index:99; text-align:center; }
#divCenter #popup_progressbar {position:absolute; top:41%; left:32%; z-index:100; width:40%; height:160px; border:solid 2px #aaa; background-color:#fff; opacity: 0.9; border-radius: 6px; padding:20px;}
#divCenter #popup_progressbar .bar {font-size:20px; color:#555; font-weight:600; border:solid 1px #aaa; background-color:#eee; height:24px; margin-top:30px;}
#divCenter #popup_progressbar .rate {  height:30px; text-align:right; line-height:30px;}
#divCenter #popup_progressbar .guide {font-size:20px; font-weight:500; color:#333; text-align:center; line-height:60px; height:60px;}
#divCenter #popup_progressbar .bar #barWidth{float:left;}
/*Conts  Regist & edit ProcessBar E*/
.tableArea .tableDetail th:first-of-type::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    min-height: 39px;
}

/* left login user */
#leftGrp .loginUserGrp > ul { display:table; }
#leftGrp .loginUser { width:90px; padding-top:0px; display:table-cell; vertical-align:middle; float:none; }
#leftGrp .loginUserLogout { display:table-cell; vertical-align:middle; float:none; }
#leftGrp .loginUser .loginUserName { vertical-align:middle; padding-top:0px; display:block; line-height:1.2em; }

#uploadPercent {display:table; margin: 0 auto;clear:both}
#uploadText{display:block}

/* 회원 가입 팝업 */
#loginFrame .loginBox .inputID input {padding:0px 10px 0px 10px !important;}
#loginFrame .loginBox .inputPW input {padding:0px 10px 0px 10px !important;}
#findMember .findForm .joinInput {padding:0px 10px 0px 10px !important;}

#joinMember input[type=text], #joinMember input[type=password] {height:32px !important;}
#joinMember .joinForm select {height:32px !important;}
#findMember input[type=text] {height:32px !important;}
#findMember select {height:32px !important;}
#joinMember .joinForm .emailInput {width:155px !important;}
#joinMember .joinForm .emailAt {margin:3px !important;}
#joinMember .joinForm .emailSelect {width:155px !important;margin-left:10px;}

#joinMember .btnClose {float:none;position:absolute;top:20px;right:20px;padding-left:0px;}
#findMember .btnClose {float:none;position:absolute;top:20px;right:20px;padding-left:0px;}
.agreeMember .btnClose {float:none;position:absolute;top:20px;right:20px;padding-left:0px;}
#b2bJoin .btnClose {float:none;position:absolute;top:20px;right:20px;padding-left:0px;}

.buttonBoxOn {padding:5px 10px; font-size:14px; color :#fff !important; background-color:#628bd3 !important; border:solid 1px solid 1px #5071a9; min-width:100px;}
.target_bak{height: 36px; vertical-align: middle; display: table-cell; text-align: center; margin: 0 auto; width: 100%; border: 1px solid #999; color: #615f5f; background: white;}
.target_bak + #target{display:none;}

/* 콘텐츠 상세보기 상세설명에 space, enter 없이 긴 글 입력 시 ui 깨지는 문제로 word-break 추가 */
#contents .tableDetail td {word-break: break-all;}

/* 게시판 (공지사항, FAQ, 문의사항 상세보기)에서 내용을 space, enter 없이 긴 글 입력 시 ui 깨지는 문제로 word-break 추가 */
.notice .viewDetail {word-break: break-all;}
.faq .faqDetail {word-break: break-all;}
.qna .qnaDetail {word-break: break-all;}

/* IE10 이하 브라우저에서 버튼 위에 특정 Layer에 의해 이벤트 막히는 문제 회피용 */
.swal-button__loader {z-index:-2 !important;}

/* popUp Password  [ 비밀번호 확인 팝업  ]*/
#popupComfirm {display:none; height: 224px; width:513px;}

/* 비밀번호 변경 화면 */
.textBold {font-weight:600;}
#pwdLoginWrapper{background-color:#fafafa;}
#pwdloginTop {width:100%; overflow:hidden; height:70px; background-color:#000000; min-width:1024px;}
#pwdloginTop .topGrp {width:100%; border-bottom:solid 1px #ccc !important; height:70px;}
#pwdloginTop .topGrp .logo {width:230px; padding:12px 18px 0px 20px; font-size:18px; font-weight:700; float:left;}
#pwdloginTop .topGrpLogin {border-bottom:solid 1px #aaa; height:80px; box-shadow:0 0 5px #ddd;}
#pwdloginMiddle {width:100%; border:solid 0px #03f; height: -webkit-calc(100% - 120px); height: -moz-calc(100% - 120px); height: calc(100% - 120px); min-height:700px; padding-top:7%;}
#pwdloginMiddle .pwdTitle {text-align:center; padding: 20px 30px;}
#pwdloginMiddle .pwdTitle span:nth-child(1){padding-right:10px;}
#pwdloginMiddle .pwdTitle span:nth-child(2){color:red}
#pwdloginMiddle .pwdLoginGrp {width:550px;  margin:0 auto;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp {text-align:center;width:100%; height:100%; border:solid 1px #aaa; background-color:#f5f5f5; border-radius:3px; font-size:14px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp .dotted {font-size:0.5px;color:red;margin: 0px 5px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp .pwdDescription {text-align:left;padding: 10px 15px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul {border-top: solid 2px #777; border-bottom:solid 1px #ddd;padding:7px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul li {padding:10px 50px;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul li:nth-child(-n + 2) {border-bottom:solid 1px #ddd;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp ul li .itemW100 {width:100%; min-width:100px;background-color:#fff;}
#pwdloginMiddle .pwdLoginGrp .pwdGrp .btnGrp {width:120px; margin:0 auto; background-color:#fff;border:solid 1px #aaa; color:#101010; font-weight:600; padding:2px 10px; text-align:center; font-size:14px; border-radius:3px; margin:10px;  cursor:pointer;}
#pwdloginBottom {clear:both; margin-top:150px; border-top:solid 1px #ccc;  height:50px; font-size:12px; letter-spacing:0; padding:10px 0 0 0; font-weight:500; color:#999; line-height:1.4em; background-color:#fff; text-align:center;}

td #coverImg, #thumbnailList {height:auto !important}
td #coverImg a {position:relative}
td #coverImg a,
td #coverImg img{width: 320px !important; height: 240px !important; margin-left: 0px !important; margin-top: 0px !important; left:0px !important; top:0px !important}
td #thumbnailList a {position:relative;margin:0px 1px 0px 0px}
td #thumbnailList a,
td #thumbnailList img {width: 240px !important; height: 180px !important; margin-left: 0px !important; margin-top: 0px !important; left:0px !important; top:0px !important}
div#thumbnailList a {position:relative;top:0px !important; left:0px !important; margin:0px !important; padding:0px !important; min-height:276px}
div#thumbnailList a img {min-height:276px; margin: 0px !important; top: 0px;left: 0px;}

/* 콘텐츠 등록 시 썸네일 생성을 위한 버튼 */
.btnDefaultWhite {height: auto; margin-left: 10px; font-size: 10px;}

/* 썸네일 미리보기 버튼 초기 설정 */
.prevCoverNone {display: none}
.prevGalleryNone {display: none}
.btnPrevWhite {border:solid 1px #999; background-color:#fff; color:#333; font-size:14px; font-weight:600; padding:1px 15px; width:150px; height:35px; text-align:center; cursor:pointer; border-radius:3px; margin-left: 10px;}

/* 썸네일 생성/삭제 시 loading 화면 */
.thumbCretLoading {position: absolute; top: 62%; left: 48.5%; z-index: 100; font-weight: 600;}
.thumbDelLoading {position: absolute; top: 62%; left: 46.5%; z-index: 100; font-weight: 600;}
#previewThumnail{box-shadow: 5px 5px 2px #ddd; border: solid 1px #999; max-width: 1000px; max-height: 719px; height:auto !important; width:auto !important;}
#previewThumnail .thumGrp{background:white;color:white}
#previewThumnail .thumGrp tr td{background:black; border:solid 1px #3e3e3e}
#previewThumnail .thumGrp img{vertical-align:middle;border:black}

#thumbView{/*cursor: pointer;*/ overflow-x: scroll; box-shadow: 0px 0px 0px 3px #cfcece;}

/* 콘텐츠 상세보기 Scrollbar */
#mCSB_1_scrollbar_vertical{border: 4px solid #fff;opacity: 0.4;}
.mCSB_inside > .mCSB_container{ margin-right: 0px !important; }
#submetadataTableArea th{white-space: nowrap;}
#submetadataTableArea td{word-break: break-all;}
#submetadataTableArea{max-height:412px}
#submetadataTableArea{overflow: hidden;}

.notice .noticeTitle {display: inline-block; min-width: 100%;}
.notice .noticeTitle .noticeDate { display: inline-block;}
.qna .qnaTitleQsn {display: inline-block; min-width: 100%;}

/* 회원 정보 (휴대폰 번호) */
.memberPhoneBox {vertical-align: middle; height: 100%; display: table-row;vertical-align: middle;}
.memberPhoneBox .memberPhoneNo {float: left; float: left; display: table-cell;}
.memberPhoneBox .rightBtn {border: 0px solid #141414; background-color: #fff; width: 24px; height: 28px; cursor: pointer; border-radius: 3px; background-size:100% 80%; background-position:center; background-repeat:no-repeat;    margin: 0px 5px 0px 7px; isplay: table-cell; vertical-align: middle;}
.memberPhoneBox .rightBtn:focus{outline: none;}
.memberPhoneBox .rightIconMius {background-image:url(../image/btn_minusCircle.png);}
.memberPhoneBox .rightIconPlus {background-image:url(../image/btn_plusCircle.png);}
.memberPhoneBox .cautionTxt {display: table-cell; vertical-align: middle; line-height:1px}
.margin_2 {margin:2px 0px}
.tableBox {display: table; vertical-align: middle;}
.tableCell {vertical-align: middle; display: table-cell;}
.prevVwImg {margin: 0px 5px; box-shadow: 1px 1px 1px 1px #bebebe;}


/* otp */

.otpLoginGrp {width:400px;  margin:0 auto;}
.otpGrp {width:100%; height:100%; border:solid 1px #aaa; background-color:#f5f5f5; padding:20px; border-radius:3px;}
.otpGrp .guide { font-size:12px; font-weight:500; padding:10px 0;   line-height:1.4em; margin-bottom:10px;}
.otpGrp .guide  a {color:#333;}
.otpGrp .otpNumberGrp {overflow:hidden;}
.otpGrp .otpNumber {width:63%; padding:4px 10px; border:solid 1px #999; font-size:16px; font-weight:600; text-align:center; float:left;  line-height:1.6em; height:42px;}
.otpGrp .otpBtn {width:35%; text-align:center; color:#fff; font-size:16px; font-weight:600; padding:5px; background-color:#0064b4;  cursor:pointer; border-radius:3px; float:right; border:0;}
.otpGrp .otpCancelGrp {width:100%; overflow:hidden; text-align:right;}
.otpGrp .otpNumberRequest  {width:100%; text-align:center; margin-top:15px;}
.otpGrp .otpCount  {width:100%; margin-top:10px; font-size:12px; line-height:2.6em; color:#333;}
.otpGrp .otpCancel {width:120px; margin:0 auto; background-color:#fff;border:solid 1px #aaa; color:#101010; font-weight:600; padding:2px 10px; text-align:center; font-size:14px; border-radius:3px; margin-top:20px;  cursor:pointer;}
.otpGrp .optNumberReauestAgain {font-size:12px; line-height:2.6em; float:right;}

