@charset "utf-8";

/* Button Set */

.btnGrp {border:solid 0px #f30; padding:5px 0px; margin:20px 0; position:relative;}
.btnGrp2 {border:solid 0px #f30; padding:5px 0px; margin:5px 0; overflow:hidden;}
.btnNormal {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 3px 35px; width:120px; text-align:center; cursor:pointer; border-radius:3px; line-height:28px;}
.btnSmall {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 3px 35px; width:100px; text-align:center; cursor:pointer; border-radius:3px;}
.btnMini {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:2px 15px 3px 35px; width:120px; text-align:center; cursor:pointer; border-radius:3px;}
.btnLarge {border:solid 1px #101010; background-color:#333; color:#fff; font-size:14px; font-weight:600; padding:5px 15px 5px 35px; width:160px; text-align:center; cursor:pointer; border-radius:3px;}
.btnList {background-image:url(../image/btn_list.png); background-repeat:no-repeat; background-position:15px center;}
.btnWrite {background-image:url(../image/btn_write.png); background-repeat:no-repeat; background-position:15px center;}
.btnNext {background-image:url(../image/btn_next.png); background-repeat:no-repeat; background-position:15px center;}
.btnSearch  {background-image:url(../image/btn_search.png); background-repeat:no-repeat; background-position:15px center; padding:0px 10px;  padding-left:30px;}
.btnModify  {background-image:url(../image/btn_modify.png); background-repeat:no-repeat; background-position:15px center;}
.btnHisModify {background-image:url(../image/btn_history.png); background-repeat:no-repeat; background-position:15px center;}
.btnReset  {background-image:url(../image/btn_default.png); background-repeat:no-repeat; background-position:15px center;}
.btnSave  {background-image:url(../image/btn_save.png); background-repeat:no-repeat; background-position:15px center;}
.btnInspect  {background-image:url(../image/btn_inspect.png); background-repeat:no-repeat; background-position:15px center;}
.btnDefault  {background-image:url(../image/btn_default.png); background-repeat:no-repeat; background-position:15px center; padding:6px 15px 7px 35px}
.btnCancel  {background-image:url(../image/btn_cancel.png); background-repeat:no-repeat; background-position:15px center; padding-left:35px;}
.btnExa {background-image:url(../image/btn_exa.png); background-repeat:no-repeat; background-position:15px center;}
.btnMetadata {background-image:url(../image/btn_metadata.png); background-repeat:no-repeat; background-position:15px center;}

.btnNoPadding {padding:5px 10px;}
.btnClose {background-image:url(../image/btn_close.png); background-repeat:no-repeat; background-position:15px center; padding-left:35px;}
.btnDownload {background-image:url(../image/btn_download.png); background-repeat:no-repeat; background-position:8px center; display: block;}
.btnModifyWhite  {background-image:url(../image/btn_edit.png); background-repeat:no-repeat; background-position:15px center;}
.btnDownloadGray {background-image:url(../image/btn_download_gray.png); background-repeat:no-repeat; background-position:8px center; text-indent: -9999px; overflow: hidden; display: block;}
.btnUserGray {background-image:url(../image/icon_us.gif); background-repeat:no-repeat; background-position:10px center;}
.btnMetadata  {background-image:url(../image/btn_metadata.png); background-repeat:no-repeat; background-position:15px center;}

.btnDelete  {background-image:url(../image/btn_delete.png); background-repeat:no-repeat; background-position:15px center;}
.btnDouble  {background-image:url(../image/btn_double.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px; margin-left:10px;}
.btnDoubleGray  {background-image:url(../image/btn_double_gray.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px; margin-left:10px;}
.btnModifyLog  {background-image:url(../image/btn_log.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnOk  {background-image:url(../image/btn_ok.png); background-repeat:no-repeat; background-position:15px center; padding:10px;  padding-left:50px; }
.btnRight {float:right;}
.btnRight2 {float:right; position:absolute; right:0px; top:7px;}
.btnLeft {float:left; margin-right:5px;}
.btnCenter {margin:0 auto; position:absolute; left: -webkit-calc(50% - 60px); left: -moz-calc(50% - 60px); left: calc(50% - 60px); bottom:20px;}
.btnPassword {background-image:url(../image/btn_lock.png); background-repeat:no-repeat; background-position:15px center;}
.btnUser {background-image:url(../image/btn_user.png); background-repeat:no-repeat; background-position:15px center;}
.btnLeave {background-image:url(../image/btn_user.png); background-repeat:no-repeat; background-position:15px center;}

.btnSmallWhite {border:solid 1px #999; background-color:#fff; color:#333; font-size:14px; font-weight:600; padding:1px 15px 1px 35px; width:100px; text-align:center; cursor:pointer; border-radius:3px;}
.btnDefaultWhite {border:solid 1px #999; background-color:#fff; color:#333; font-size:14px; font-weight:600; padding:1px 15px; width:100px; text-align:center; cursor:pointer; border-radius:3px;}
.btnPinfo  {background-image:url(../image/btn_pinfo.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnYear {background-image:url(../image/btn_year.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnMonth {background-image:url(../image/btn_month.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnDay {background-image:url(../image/btn_day.png); background-repeat:no-repeat; background-position:15px center; padding-left:50px;}
.btnXls {background-image:url(../image/btn_xls.png); background-repeat:no-repeat; background-position:15px center; padding-left:40px;}

.caution {font-size:12px; color:#333; font-weight:500;}
.boxStateBlue {padding:4px 10px; height:28px; border:solid 1px #aaa; font-weight:600; text-align:center; color:#03f; background-color:#f5f5f5; border-radius:3px; line-height:1.0em; display:inline-block;}
.boxStateRed {padding:4px 10px; height:28px; border:solid 1px #aaa; font-weight:600; text-align:center; color:#f30; background-color:#f5f5f5; border-radius:3px; line-height:1.0em; display:inline-block;}

.thumnailGrp li {padding:3px;}
.thumnailFile {display:inline-block;}

/* width  */

.lengthXXL {width:500px;}
.lengthXL {width:400px;}
.lengthL {width:300px;}
.lengthM {width:200px;}
.lengthSM {width:150px;}
.lengthS {width:100px;}
.lengthXS {width:50px;}
.lengthW100 {width:100%;}

.div {padding:0 5px; color:#aaa; font-weight:100;}
.iconRock {background-image:url(../image/icon_lock2.png); background-repeat:no-repeat; background-position: 0px 2px;padding:10px 20px; margin:0;}
.btnHelp {width:25px; height:25px; font-weight:600; color:#f00; background-color:#fff4f4; cursor:pointer; border:solid 1px #f30; border-radius:50px; display:inline-block; text-align:center;}

.inputBox {padding:5px; font-size:14px; background-color:#f9f9f9; border:solid 1px #aaa; line-height:1.6em; height:30px;}
.inputBox2 {padding:0px 5px; font-size:14px; background-color:#fff; border:solid 1px #aaa; line-height:1.6em; height:30px;}
.inputBox3 {padding:0px 5px; font-size:14px; background-color:#fff; border:solid 1px #aaa; line-height:2.0em; height:36px;}

.selectBox {padding:2px; font-size:14px; width:100px; background-color:#f5f5f5;}
.buttonBox {padding:5px 10px; font-size:14px; background-color:#f5f5f5; border:solid 1px #aaa; min-width:100px;margin: 2px 1px 1px 0px}
.buttonBoxOn {padding:5px 10px; font-size:14px; color :#fff; background-color:#f30; border:solid 1px #f10; min-width:100px; margin: 2px 1px 1px 0px}
.textareaBox {width:100%; padding:5px 2px; font-size:14px; background-color:#f9f9f9; border:solid 1px #aaa; margin:10px 0px; line-height:2.0em; margin: 1px 1px 1px 0px}
.fileBox {font-size:16px; background-color:#f9f9f9; border:solid 1px #aaa;}

.textSmall {font-size:12px;}

.subLeftGrp {width:100%; height:44px; border:solid 1px #ddd; background-color:#f9f9f9; padding:5px;}
.subLeftGrp span {vertical-align:top; padding:0 5px; display:inline-block;}
.subLeftGrp .itemName {padding-top:3px;}
.subLeftGrp .selectBox {border:solid 1px #aaa; padding:4px; background-color:#fff;}
.subLeftGrp .selectGrp {float:right;}
.subLeftGrp .buttons {padding-top:5px; display:inline-block; overflow:hidden;}
.subLeftGrp .inputArea {padding-top:1px;}


.tabButtonGrp {overflow:hidden;  margin:1px 0 0px 0; font-size:14px; float:right; overflow:hidden;}
.tabButtonGrp .tabButton {float:right; border:solid 0px #f30;}
.tabButtonGrp .tabButton .tabBtn {width:100px; border:solid 1px #aaa;  background-color:#ddd; padding:2px 10px 4px 10px; text-align:center; float:left; margin-right:10px;}
.tabButtonGrp .tabButton .tabBtnOn {width:100px;  border:solid 1px #aaa; font-weight:600; color:#111; background-color:#fff; padding:2px 10px 4px 10px; text-align:center; float:left; margin-right:10px;}
.tabButtonGrp .tabButton .tabBtnEnd {margin-right:0;}

.graphGrp {width:100%; min-height:200px; margin-right:20px; border:solid 1px #ddd; padding:20px;}
.graphGrpMarginLine {margin-bottom:20px; border-bottom:solid 1px #aaa;}

.cateGrp {width:100%; margin-bottom:20px; overflow:hidden; position:relative; top:0px; left:0px; border:solid 1px #ddd; background-color:#fefefe; border-radius:5px; padding:10px;}
.cateGrp .category {width:300px; float:left; margin-right:20px; padding-left:0px;}
.cateGrp .categoryName {width:100px; float:left; margin-right:20px; padding-left:0px; line-height:80px;}
.cateGrp .category .selectBox {width:260px; line-height:2.6em;}
.cateGrp .category .selectBox option  {line-height:5.0em; padding:5px; border-bottom:solid 1px #eee; font-size:12px;}

.txtRed {color:#f30;}
.txtBlue {color:#09f;}
.txtBlack {color:#101010;}
.txtBold {font-weight:600;}
.txtCenter {text-align:center;}
.txtLeft {text-align:left;}
.txtRight {text-align:right;}

.marginNoBottom {margin-bottom:0 !important;}

.btnPeriod {line-height:2.4em; display:inline-block;}
.itemPeriod {line-height:1.8em; display:inline-block;}
.box {padding:2px 10px; border:solid 1px #aaa; border-radius:3px; background-color:#ffffff; text-align:center;}


/* Frame */

html {width:100%; height:100%; background-image:url(../image/login_basebg.gif);}
body {width:100%; height:100%; min-width:1024px; background-color:#fff;}

#wrapper {width:100%; height:100%; min-width:1200px; overflow:hidden; background-image:url(../image/left_menu_bg.gif); background-position:-41px 0; background-color:#fff; background-repeat:repeat-y;}

#top {width:100%; overflow:hidden; height:70px; background-color:#f0f0f0; min-width:1024px;}
#top .topGrp {width:100%; border-bottom:solid 1px #ccc !important; height:70px;}
#top .topGrp .logo {width:230px; padding:12px 18px 0px 20px; font-size:18px; font-weight:700; float:left;}
#top .topGrpLogin {border-bottom:solid 1px #aaa; height:80px; box-shadow:0 0 5px #ddd;}

#top .topGrp .gm {float:left; padding:12px 0 0 100px;}
#top .topGrp .gm li {float:left; font-size:13px; padding:11px 0px; margin-right:50px;}
#top .topGrp .gm .redOn {border-bottom:solid 5px #5cc9f3;}

#top .menuGrp {clear:both; width:100%; overflow:hidden; background-color:#fff; color:#101010; font-weight:600;  font-size:13px; border-top:solid 1px #eee; border-bottom:solid 1px #ddd;}
#top .menuGrp ul {margin-left:400px;}
#top .menuGrp li {float:left; padding:0px 20px; border-right:solid 1px #e5e5e5; margin:10px 0; line-height:1.0em;}

#middle {width:100%; height:100%; display: flex;}

.boxRound {padding:0; min-height:80px; position:relative; width:100%;}

.loginMid {background-color:#fff; padding-top:100px; min-height:100px;}


/* login New */

.loginBg {background-image:url(../image/login_bg.jpg); background-repeat:no-repeat; background-position:left bottom; background-color:#cbcbcb;}
#frameSet {min-width:1200px;}
#frameSet .loginTopFrame {padding:50px 0 50px 60px;}
#loginFrame {border:solid 0px #f30; width:1000px; padding:130px 0 0 590px;}
#loginFrame .loginTitle {font-size:50px; line-height:1.6em; font-weight:700; letter-spacing:-1px;}
#loginFrame .loginBox {font-size:16px;}
#loginFrame .loginBox .inputID {clear:both; border:solid 1px #aaaaaa; background-color:#ffffff; padding:0 0 0 60px; background-image:url(../image/login_id.png); background-repeat:no-repeat; background-position:16px center; margin-bottom:10px; width:410px; }
#loginFrame .loginBox .inputID input {width:100%; padding:10px; border:0; background-color:#fff; font-size:16px; height:46px;}
#loginFrame .loginBox .inputPW {clear:both; border:solid 1px #aaaaaa; background-color:#ffffff; padding:0 0 0 60px; background-image:url(../image/login_pw.png); background-repeat:no-repeat; background-position:16px center;}
#loginFrame .loginBox .inputPW input {width:100%; padding:10px; border:0; background-color:#fff; font-size:16px; height:46px;}
#loginFrame .loginBox .buttonLogin {clear:both; margin-top:20px;}
#loginFrame .loginBox .buttonLogin input {width:100%; padding:0  0 6px 0; border:solid 1px #005ea6; background-color:#0076d0; line-height:1.2em; height:60px; font-size:24px; color:#fff; font-weight:700;}
#loginFrame .loginBtnGrp {color:#fff;}
#loginFrame .loginBtnGrp {padding:20px 0; padding-bottom:50px; font-size:18px; font-weight:600; position:relative; }
#loginFrame .loginBtnGrp .chkbox {position:absolute; left:0px; top:32px;}
#loginFrame .loginBtnGrp label {position:absolute; left:24px; top:28px; line-height:1.8em;}
#loginFrame .loginBtnGrp .regID {float:right; padding:5px 10px; background-color:#fff; background-image:url(../image/icon_member.png); background-repeat:no-repeat; background-position:10px center; border:solid 1px #aaa; padding-left:40px; font-size:14px;}
#loginFrame .findIDPW {padding-left:5px; font-weight:600; color:#fff; margin-bottom:20px;}
#loginFrame .findIDPW a {color:#fff;}
#loginFrame .findIDPW .div {font-weight:200; color:#eee;}
#frameSet .bottomLine {width:410px; font-size:12px; border-top:solid 1px #ddd; margin:0 0 0 590px; padding:10px 10px 10px 0px; color:#fff;}


/* join member */

#joinMember {width:570px; border:solid 1px #aaa; padding:20px; position:absolute; left:30%; top:10%; z-index:10000; background-color:#fafafa; font-size:14px; overflow:hidden;}
#joinMember .joinTitle {font-size:28px; font-weight:600; color:#101010; letter-spacing:-2px; line-height:2.0em; line-height:2.0em; padding-bottom:10px; text-align:center;}
#joinMember .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
#joinMember .joinForm {font-size:16px; color:#777; font-weight:600; position:relative;}
#joinMember .joinForm li {padding:10px; font-size:14px; border-bottom:solid 1px #ddd;}
#joinMember .joinForm .item {width:150px; display:inline-block; color:#333;}
#joinMember .joinForm .joinInput {padding:1px 10px; font-size:14px; color:#333; background-color:#f5f5f5;}
#joinMember .joinRadio1 {position:absolute; left:120px; top:15px;}
#joinMember .joinRadio2 {position:absolute; left:320px; top:15px;}
#joinMember .item10 {position:absolute; left:140px;}
#joinMember .item11 {position:absolute; left:340px;}
#joinMember .joinForm {border:solid 1px #ddd; background-color:#fff; }
#joinMember .joinForm .btnGrpJoin {margin:0; padding-left:120px;}
#joinMember .joinForm select {padding:5px; margin:0; background-color:#f5f5f5;}
#joinMember .joinForm .btnJoin {padding:2px 10px 3px 35px !important;}
#joinMember .joinForm .cautionTxt {color:#f30;}


/* find member */

#findMember {width:580px; height:300px; overflow:hidden; border:solid 1px #aaa; padding:20px; position:absolute;
   left:30%; top:10%;  z-index:10000; background-color:#fafafa; box-shadow:0px 10px 20px #ddd; font-size:14px;}
#findMember .findTitle {font-size:28px; font-weight:600; text-align:center;  color:#101010; letter-spacing:-2px; line-height:2.0em; border-bottom:solid 1px #999; line-height:2.0em; padding-bottom:10px;}
#findMember .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
#findMember .findForm {font-size:14px; color:#777;  position:relative;}
#findMember .findForm li {padding:10px; font-size:14px; border-bottom:solid 1px #ddd;}
#findMember .findForm .item {width:150px; display:inline-block; color:#333;}
#findMember .findForm .joinInput {padding:5px 10px; font-size:14px; color:#333;}
#findMember .findForm .btnGrpJoin {margin:0 auto; padding-left:160px; padding-top:20px;}
#findMember .findForm select {padding:5px; margin:0; background-color:#f5f5f5; padding-top:5px;}
#findMember .findForm .btnJoin {padding:2px 10px 4px 35px !important;}


/* agree Terms */

.agreeMember {width:570px; height:750px; border:solid 1px #aaa; padding:20px; position:absolute; left:30%; top:10%; z-index:10000; background-color:#fafafa; font-size:14px; overflow:hidden;}
.agreeMember .agreeGrp {border:solid 0px #ddd; line-height:1.6em;}
.agreeMember .agreeTitle {font-size:28px; font-weight:600; color:#101010; letter-spacing:-2px; line-height:2.0em; line-height:2.0em; padding-bottom:10px; text-align:center; border-bottom:solid 3px #101010;}
.agreeMember .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
.agreemember .agreeForm {font-size:16px; color:#777; font-weight:600; position:relative; padding:10px;}
.agreeMember .column {width:100%; padding:10px 0; overflow:hidden; display:inline-block;}
.agreeMember .agreeTerms {width:100%; height:150px; overflow-y:auto; border:solid 1px #aaa; padding:10px; background-color:#f5f5f5;}
.agreeMember .titleTerms {padding:10px 0 10px 0;}
.agreeMember .btnGrpagree {text-align:center;}


#contents {width:100%; position:relative; padding-right:40px;}



 /* 화면 스크롤 */

#mainContents {width:100%; min-height:500px;}


/* Bottom */

#bottom {clear:both; margin-top:100px; border-top:solid 1px #ccc;  height:50px; font-size:12px; letter-spacing:0; padding:10px 0 0 0; font-weight:500; color:#999; line-height:1.4em; background-color:#fff; text-align:center;}
#bottom .terms {width:200px; float:left; text-align:left;}
#bottom .terms span {display:inline-block; padding:0 5px;}
#bottom .terms a {color:#999;}
#bottom .copyright {width:360px; float:right; text-align:right;}

/* popup Terms */

 .popupTerms {width:900px; height:600px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff;  right:100px; top:100px; position:absolute; z-index:3010; /* display:none; */}
.popupTerms .conTitleGrp {height:70px; }
.popupTerms .conTitleGrp .text {padding-top:20px; font-size:14px;}
.popupTerms .conTitleGrp .conTitle {font-size:22px; font-weight:600; color:#101010; letter-spacing:-1px; border-bottom:solid 3px #333; height:40px;}
.popupTerms .content .contentsText {border:solid 1px #ddd; height:420px; padding:10px; overflow-y:auto;}


/* popup Privacy */

 .popupPrivacy {width:900px; height:600px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff;  left:100px; top:100px; position:absolute; z-index:3010; /* display:none; */}
.popupPrivacy .conTitleGrp {height:70px; }
.popupPrivacy .conTitleGrp .text {padding-top:20px; font-size:14px;}
.popupPrivacy .conTitleGrp .conTitle {font-size:22px; font-weight:600; color:#101010; letter-spacing:-1px; border-bottom:solid 3px #333; height:40px;}
.popupPrivacy .content .contentsText {border:solid 1px #ddd; height:420px; padding:10px; overflow-y:auto;}





.txtRed {color:#ff3c00;}

.title {font-size:16px; font-weight:600; letter-spacing:0px;}

.balloonGrp {min-width: 200px; max-width: 248px; background-image: url(../image/bg_balloon_top.png); background-repeat: no-repeat; position: absolute; left: 353px; top: 155px; white-space: normal; position: absolute; z-index: 9999999; display:block; background-size:100%;}
.balloon {font-size: 11px; line-height: 1.4em; color: #555; background-image: url(../image/bg_balloon_bottom.png); background-repeat: no-repeat; background-position: 0 bottom; padding: 7px 7px 7px 30px; max-height: 480px; text-align: left; background-size: 100%}

/* left Group */

#leftGrp {width:180px; height:100%; float:left; overflow:hidden; background-color:#363a41;}
#leftGrp .logo {height:80px; text-align:center; padding:30px 0 20px 0;}
#leftGrp .leftMenuGrp {border-top:solid 0px #ddd;}
#leftGrp .leftMenu {font-size:16px; font-weight:600; letter-spacing:-1px; line-height:3.2em; background-color:#363a41; border-bottom:solid 0px #ddd; background-repeat:no-repeat; background-image:url(../image/left_icon.gif); background-repeat:no-repeat; background-position:5px center; padding-left:40px; width:181px;}
#leftGrp .leftMenuOn {color:#fff; background-color:#628bd3;}
#leftGrp .leftIconUser {background-image:url(../image/left_icon_user.png);}
#leftGrp .leftIconUserMan {background-image:url(../image/left_icon_userman.png);}
#leftGrp .leftIconContent {background-image:url(../image/left_icon_content.png);}
#leftGrp .leftIconStats {background-image:url(../image/left_icon_stats.png);}
#leftGrp .leftIconCat {background-image:url(../image/left_icon_cat.png);}
#leftGrp .leftIconNotice {background-image:url(../image/left_icon_notice.png);}
#leftGrp .leftIconFaq {background-image:url(../image/left_icon_faq.png);}
#leftGrp .leftIconQna {background-image:url(../image/left_icon_qna.png);}
#leftGrp .leftIconJoin {background-image:url(../image/left_icon_join.png);}
#leftGrp .leftIconCustom {background-image:url(../image/left_icon_custom.png);}
#leftGrp .leftIconHome {background-image:url(../image/left_icon_home.png);}
#leftGrp .leftIconMember {background-image:url(../image/left_icon_member.png);}
#leftGrp .leftMenu a {color:#fff;}
#leftGrp .leftSubMenu {font-size:14px; color:#000; font-weight:500; letter-spacing:-1px; line-height:2.6em; background-color:#fff; border-bottom:solid 1px #f5f5f5; background-repeat:no-repeat; background-image:url(../image/left_icon.gif); background-repeat:no-repeat; background-position:20px center; padding-left:35px;}
#leftGrp .leftSubMenu a {color:#333;}
#leftGrp .leftSubMenuOn {background-color:#d6eafb; color:#333; background-image:url(../image/left_icon.gif) !important; background-repeat:no-repeat; background-position:20px center; padding-left:35px;}
#leftGrp .leftSubMenuOn a {color:#000; font-weight:600;}


/* left login user */

#leftGrp .loginUserGrp {overflow:hidden; color:#fff; background-color:#666d79; margin:15px 5px 20px 5px; border-radius:3px; letter-spacing:-.5px; line-height:1.6em !important; padding:5px 5px 5px 10px;}
#leftGrp .loginUser { font-size:12px; font-weight:600; padding-top:2px; float:left;}
#leftGrp .loginUser a {color:#fff;}
#leftGrp .loginUser .loginUserName {display:inline-block; line-height:1.0em; vertical-align:top; padding-top:3px;}
#leftGrp .loginUserLogout {text-align:center;  float:right; vertical-align:top;}
#leftGrp .loginUserLogout .btnLogout {padding:0px 10px; background-color:#fff; font-size:11px; border-radius:2px; color:#ededed; background-color:#474c54; border:0;}


/* right Group */

#rightGrp {float:left; width: -webkit-calc(100% - 180px); width: -moz-calc(100% - 180px); width: calc(100% - 180px); height:100%; padding-left:40px; overflow-y:auto; position:relative; padding-top:40px;}


/* user Group */

#rightGrp .userGrp {padding:1px 15px; margin:0px; margin-top:16px; position:absolute; top:5px; right:20px;}
#rightGrp .userGrp li {float:left; border:solid 1px #aaa; margin-right:5px; padding: 3px 10px;}
#rightGrp .userGrp .userName {background-image:url(../image/icon_us.gif); background-repeat:no-repeat; background-position:5px center; padding-left:25px; font-size:13px !important; font-weight:600; background-color:#fff;}
#rightGrp .userGrp .userLog {background-image:url(../image/icon_logout.gif); background-repeat:no-repeat; background-position:5px center; padding-left:25px; font-size:13px !important; font-weight:600; background-color:#fff;}


/* locate */

#locateGrp .locate {font-size:12px; color:#777; width:100%; margin-top:20px; border-bottom:solid 1px #ddd; overflow:hidden; padding:2px 0; margin-bottom:20px; display:none;}
#locateGrp .locate .iconHome {background-image:url(../image/icon_home.gif); background-repeat:no-repeat; background-position:0px center; width:30px;}
#locateGrp .locate li {float:left; padding:5px 0px;}


/* tab */

#tabGrp {clear:both; width:100%; height:47px; border-bottom:solid 1px #999; font-size:18px; letter-spacing:-1px; margin-bottom:50px; color:#333;}
#tabGrp .tab {padding:5px 30px; height:47px; border:solid 1px #999; border-right:0; text-align:center; color:#777; background-color:#f5f5f5; float:left; min-width:110px; line-height:36px; border-radius:5px 5px 0 0;}
#tabGrp .tabEnd {border:solid 1px #999;}
#tabGrp .tabOn {color:#111; font-weight:600; font-size:18px; background-color:#fff;}



/* popupWindow */

#popupWindow {width:500px; height:380px; left: -webkit-calc(50% - 250px); left: -moz-calc(50% - 250px); left: calc(50% - 250px);  top: -webkit-calc(50% - 160px); top: -moz-calc(50% - 160px); top: calc(50% - 160px); position:absolute; z-index:3000; border:solid 1px #999; box-shadow:0 5px 5px #ddd; background-color:#fff;}
#popupWindow .modifyPassword {padding:20px; position:relative;}
#popupWindow .modifyPassword .textInput {background-color:#f5f5f5; padding:5px; line-height:normal;}
#popupWindow .modifyPassword ul {border-top:solid 2px #777;}
#popupWindow .modifyPassword li {border-bottom:solid 1px #ddd; line-height:3.0em;}
#popupWindow .modifyPassword .textGuide {font-size:12px; color:#c60000;}
#popupWindow .btnCenter {margin:0 auto; position:absolute; left: -webkit-calc(50% - 120px); left: -moz-calc(50% - 120px); left: calc(50% - 120px);}


/* content */

#contents .conTitleGrp {width:100%; height:50px; border-bottom:solid 1px #ddd; margin-bottom:20px; letter-spacing:-1px; background-image:url(../image/icon_six.png); background-repeat:no-repeat; background-position:0 center; padding-left:26px;}
#contents .conTitleGrp .conTitle {font-size:30px; line-height:2.0em; font-weight:500; letter-spacing:-1px;}
#contents .conTitleGrp .subject {font-size:18px; font-weight:700; line-height:1.8em;}
#contents .conTitleGrp .content {padding:20px 0;}

#mainContents .conTitleGrp {width:100%; height:70px; margin-bottom:20px; background-image:url(../image/dot.gif); background-repeat:repeat-x; background-position:0 bottom;}
#mainContents .conTitleGrp .conTitle {font-size:30px; font-weight:400; line-height:2.0em; letter-spacing:-2px;}
#mainContents .conTitleGrp .subject {font-size:18px; font-weight:700; line-height:1.8em;}
#mainContents .conTitleGrp .content {padding:20px 0;}


#contents .content {padding:0px; background-color:#fff; margin-top:20px;}

#contents .rsvGrp {width:300px; float:right; margin-bottom:20px; height:30px; position:absolute; right:0; top:60px;}
#contents .rsvGrpPos {position:absolute; top:58px; right:0px}
#contents .rsvGrp .rsvTitle {float:left; font-size:22px; font-weight:600;}
#contents .rsvGrp .rsvSelect {float:right;}
#contents .rsvGrp .rsvSelect select {font-size:12px; font-weight:500; padding:2px 5px; letter-spacing:-1px; height:30px; background-color:#f5f5f5; width:100px;}
#contents .selBox {padding:2px 3px; height:30px; font-size:13px;}
#contents .titGrp {padding:5px 0;}
#contents .tit {font-size:24px; font-weight:500; display:inline-block;}
#contents .regDate {float:right; font-size:13px; display:inline-block;}

.conTable {width:100%; border:solid 1px #aaa; font-size:14px;}
.conTable td {text-align:center; border:solid 1px #aaa; font-size:14px; padding:5px 5px; }
.conTable th {font-weight:600; background-color:#f5f5f5; text-align:center; border:solid 1px #aaa;}

#contents .content .ar1 {width:200px;}
#contents .content .ar2 {width:200px;}
#contents .content .ar4 {width:400px;}

#contents .content .boxYellow {width:50px; height:20px; background-color:#ffcc00; border:solid 1px #cc9900; margin:0 auto;}
#contents .content .boxGray {width:50px; height:20px; background-color:#eeeeee; border:solid 1px #cccccc; margin:0 auto;}
#contents .content .boxPupple {width:50px; height:20px; background-color:#9966ff; border:solid 1px #663399; margin:0 auto;}
#contents .content .boxRed {width:50px; height:20px; background-color:#ff3333; border:solid 1px #993333; margin:0 auto;}
#contents .content .boxBlue {width:50px; height:20px; background-color:#0099ff; border:solid 1px #006699; margin:0 auto;}

#contents .subTitle {line-height:2.0em; font-size:18px; font-weight:600; padding:20px 0;}
#contents .subSubTitle {line-height:2.0em; font-size:20px; font-weight:600; padding:20px 0; position:absolute; top:65px;}

.importantList {background-color:#ffdecf !important; border-bottom:solid 1px #966955 !important; color:#101010; font-weight:600;}


/* popupModifyHistory */

#popupModifyHistory {width:1000px; height:500px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff;  right:100px; top:100px; position:absolute; z-index:3010; /* display:none; */}
#popupModifyHistory .conTitleGrp {height:70px; }
#popupModifyHistory .conTitleGrp .text {padding-top:20px; font-size:14px;}
#popupModifyHistory .conTitleGrp .conTitle {font-size:22px; font-weight:600; color:#101010; letter-spacing:-1px;}


/* popupCheckHistory */

#popupCheckHistory {width:500px; height:500px; border:solid 1px #333; box-shadow:5px 5px 5px #ddd; padding:30px 20px 20px 20px; background-color:#fff; position:absolute; z-index:3010;}
#popupCheckHistory .conTitleGrp {height:70px;}
#popupCheckHistory .conTitleGrp .text {padding-top:2px; font-size:14px;}
#popupCheckHistory .conTitleGrp .conTitle {font-size:22px; font-weight:600; color:#101010; letter-spacing:-1px;  height:40px;  border-bottom:solid 3px #333;}



/*  user  */

#contents .divHarf {width:50%; min-height:200px; border:solid 0px #f30; float:left;}
#contents .divPaddingLeft {padding-left:20px;}
#contents .divPaddingRight {padding-right:20px;}
#contents .divPaddingBottom {padding-Bottom:20px;}
#contents .divHarf .tableArea {min-height:300px;}
#contents  h1 {font-size:18px; font-weight:600; padding:10px 0; letter-spacing:-1px;}
#contents .w150 {width:150px;}
#contents .tableDetail {border-top:solid 2px #555;}
#contents .tableDetail tr {height:39px;}
#contents .tableDetail td {text-align:left; border-bottom:solid 1px #ddd; font-size:14px; padding:5px 10px; }
#contents .tableDetail th {font-weight:600; background-color:#f5f5f5; text-align:center; font-size:14px;  border-bottom:solid 1px #ddd;}


/* recommand manage */

#harfGrp {width:100%; min-width:940px; overflow:hidden; margin:0 auto; position:relative; margin-bottom:20px; border:solid 1px #ddd; border-radius:5px; background-color:#fafafa; padding:0 20px;}
#harfGrp .divHarf {min-width:400px; position:relative;}
#harfGrp .harfLeft {float:left; width:45%; height:500px;}
#harfGrp .harfRight {float:Right; width:45%;  height:500px;}
#harfGrp .harfTitle {font-size:16px; line-height:1.8em; font-weight:600;}
#harfGrp .harfTable {border:solid 1px #aaa;  background-color:#fff;}
#harfGrp .harfTable {font-size:14px; line-height:3.0em;}
#harfGrp .harfTable ul {background-color:#f5f5f5; }
#harfGrp .harfTable li {border-bottom:solid 1px #ddd; padding:0 20px;}
#harfGrp .scrollBox {height:200px; overflow-y:auto;}
#harfGrp .height230 {height:280px;}
#harfGrp .selected {background-color:#333; color:#fff;}

#harfGrp .titleTable {width:100%;}
#harfGrp .titleTable th {background-color:#f5f5f5; border-bottom:solid 1px #ddd; font-weight:600; color:#101010;}
#harfGrp .scrollTable {width:100%; overflow-y:auto; height:400px; text-align:center;}
#harfGrp .titleTable td {background-color:#fff; border-bottom:solid 1px #ddd;}
#harfGrp .addBtns {width:52px; height:42px; position:absolute; top:47%; left: -webkit-calc(50% - 26px); left: -moz-calc(50% - 26px); left: calc(50% - 26px); }
#harfGrp .addBtns .btnLeftArrow {width:52px; height:45px;}
#harfGrp .addBtns .btnRightArrow {width:52px; height:42px;}
#harfGrp .catBtnGrp {border:solid 0px #f30; display:inline-block; position:absolute; top:10px; right:0;}


/*Code 설정 버튼*/

#codeInfoDiv .btnNormal {    border: solid 1px #005e95; background-color: #0975b4;    color: #fff;    font-size: 13px;    font-weight: 600;    padding: 8px 15px 8px 35px;    min-width: 89px;    text-align: center;    cursor: pointer;    border-radius: 3px;    line-height: 12px;}


/* search */

/* .searchBox {width:570px; margin:0 auto; } */
.searchBox {margin:0 auto;padding:0px 0; position:absolute; border:solid 0px #f30; left: -webkit-calc(50% - 272px); left: -moz-calc(50% - 272px); left: calc(50% - 272px);  }
.searchBox .searchGrp {width:544px; margin:0 auto; overflow:hidden;}
.searchBox .searchGrp .selectBox {float:left; vertical-align:top; background-color:#fff;}
.searchBox .searchGrp .selectBox select {font-size:14px; height:36px; width:100px; padding:7px 5px; line-height:1.6em; background-color:#ffffff; border:solid 1px #999;}
.searchBox .searchGrp .searchInput {float:left; padding:0 10px; margin-top:2px; }

.searchBox .searchGrp .searchInput input {font-size:13px; padding:5px; width:300px; padding:6px 5px !important; background-color:#f5f5f5; border:solid 1px #999; height:36px;}
.searchBox .searchGrp .searchBtn {float:left; margin-top:2px;}
.searchBox .searchGrp .searchBtn .btnSearch {height:36px;}

.contentTitle {font-size:18px; font-weight:600; line-height:1.8em;}
.contentArea {border:solid 1px #ddd; width:100%; margin:10px 0; padding:15px;}

.writeArea {border:solid 1px #ddd; width:100%; margin:10px 0; padding:15px; font-size:13px;}
.writeArea li {padding:10px 0; border-bottom:solid 1px #eee; display:flex;}
.writeArea .item {min-width:250px; display:inline-block; font-size:13px; font-weight:600; }
.writeArea .selectBox {width:300px; padding:2px; height:36px; line-height:1.0em;}
.writeArea .textarea {width:500px; padding:5px; font-size:13px;}
.writeArea .textareaLong {width:700px; padding:5px; font-size:13px;}
.writeArea .textareaInput {width:700px; height:300px; font-size:13px;}
.writeArea .textareaInput2 {width:500px; height:100px; font-size:13px;}
.writeArea .textareaShort {width:120px; padding:5px; font-size:13px;}
.writeArea .textareaMiddle {width:200px; padding:5px; font-size:13px;}
.writeArea .vTop {vertical-align:top;}
/* .writeArea input, .writeArea select,.writeArea textarea {background-color:#f9f9f9; border:solid 1px #ddd;} */
.writeArea .inputFile {border:0; background-color:#fff;}

.content .help {margin:20px 0; padding:20px; border:solid 1px #ddd; background-color:#f5f5f5; }

#modLogGrp .writeArea2 {border:solid 1px #ddd; width:100%; margin:10px 0; padding:15px;}
#modLogGrp .writeArea2 li {padding:5px 0; border-bottom:solid 1px #eee;}
#modLogGrp .writeArea2 .textarea {padding:5px; font-size:13px;}
#modLogGrp .writeArea2 .nm {width:150px; display:inline-block; font-size:13px;float:left}
#modLogGrp .writeArea2 .co {display:inline-block; font-size:13px;}
#modLogGrp .writeArea2 .pinfo {width:100%; height:100px; font-size:12px; overflow-y:auto; line-height:1.8em;}
#modLogGrp .revMsg {width:210px; padding:0; border:0;}
#modLogGrp ul {overflow:hidden; padding:0;}


/* table  list */

.tableArea {border:0;}
.tableArea table {width:100%; margin-bottom:20px;}
.tableArea .tableList {border-top:solid 2px #555; font-size:14px; font-weight:500;}
.tableArea .tableList tr {height:40px;}
.tableArea .tableList th {background-color:#363a41; font-weight:600; text-align:center; color:#fff;}
.tableArea .tableList th {background-color:#363a41 ;color:#fff; font-weight:600; text-align:center; border-bottom:solid 1px #999; padding:2px 0px 2px 5px; border-right:solid 1px #6a7382;}
.tableArea .tableList td {background-color:#fff; text-align:center; border-bottom:solid 1px #ddd; padding:2px 0px 2px 5px;}
.tableArea .tableList .item1 {width:10%; min-width:120px;}
.tableArea .tableList .item2 {min-width:200px;}
.tableArea .tableList .item3 {width:10%; min-width:100px;}
.tableArea .tableList .item4 {width:10%; min-width:100px;}
.tableArea .tableList .item5 {width:10%; min-width:100px;}
.tableArea .tableList .item6 {width:10%; min-width:100px;}
.tableArea .tableList tr .mouseOverList {background-color:#f5f5f5 !important;}
.tableArea .tableList .divRight {border-right:solid 1px #aaa;}

.tableArea .itemW5 {width:5%; min-width:70px;}
.tableArea .itemW10 {width:10%; min-width:100px;}
.tableArea .itemW12 {width:12%; min-width:100px;}
.tableArea .itemW13 {width:13%; min-width:100px;}
.tableArea .itemW15 {width:15%; min-width:100px;}
.tableArea .itemW20 {width:20%; min-width:100px;}
.tableArea .itemW25 {width:25%; min-width:100px;}
.tableArea .itemW30 {width:30%; min-width:100px;}
.tableArea .itemW40 {width:40%; min-width:100px;}
.tableArea .itemW50 {width:50%; min-width:100px;}
.tableArea .itemW100 {width:100%; min-width:100px;}

.tableArea .ContentSelectBox {padding:2px 5px; border:solid 1px #999; background-color:#f5f5f5; width:100px; font-size:13px; float:left; text-align:center; margin-right:5px;}
.tableArea .ContentSelectBoxL {padding:2px 5px; border:solid 1px #999; background-color:#fefefe; width:205px; font-size:14px; float:left; text-align:center; margin-right:5px;}
.tableArea .ContentSelectBoxOn {background-color:#ddd; border:solid 1px #aaa;}

.tableArea .txtBoldRed {font-weight:600; color:#f10; padding:0; background-color:#f9ede9; width:60px; display:inline-block;}
.tableArea .txtBoldBlue {font-weight:600; color:#06f; padding:0; background-color:#e9eff9; width:60px; display:inline-block;}
.tableArea .txtBoldGray {font-weight:600; color:#999; padding:0; background-color:#f5f5f5; width:60px; display:inline-block;}

.tableArea table {width:100%; margin-bottom:0px;}
.tableArea .tableForm {border-top:solid 2px #555; font-size:14px; font-weight:200;}
.tableArea .tableForm tr {height:40px;}
.tableArea .tableForm th {background-color:#f2f2f2; font-weight:600; text-align:center; border-bottom:solid 1px #ddd;}
.tableArea .tableForm td {background-color:#fff; border-bottom:solid 1px #ddd; padding:2px 5px;}
.tableArea .tableForm .borderBox {border:solid 1px #aaa; padding:5px 10px;}
.tableArea .tableForm .borderEmpty {border:solid 1px #aaa; padding:0;}
.tableArea .tableForm .versionUp {padding:5px 20px 5px 0; }


/* pageNumberGrp */

#pageNumberGrp {width:100%; margin-bottom:20px;}
#pageNumberGrp .pageNumber {text-align:center;}
#pageNumberGrp .pageNumber span{line-height:23px; margin:0; vertical-align:top; }


/* pagenumber */

.pagenumber {width:100%; border-top:solid 2px #cccccc; margin-bottom:20px;}
.pagenumber td {background-color:#f6f6f6;}


/* contents pay */

.searchContentPayGrp {height:50px;}
.searchContentPayGrp .inputSearchTime {padding:5px; font-size:16px;}
.searchContentPayGrp .listTableConPay {border:solid 1px #f30;}
.tableArea .helpTxt {font-size:11px; padding:10px; line-height:1.6em;}


/* catagory  */

.content .halfGrp {width:100%;}
.content .halfLeft {width:50%; float:left; padding:20px 40px 0 0; position:relative; overflow:hidden;}
.content .halfRight {width:50%; float:left; padding:20px 0 0 40px; position:relative; overflow:hidden;}
.content .halfBox {border:solid 1px #ddd; height:100%; margin-top:20px; overflow-y:auto;}
.content .halfBox li {background-color:#f5f5f5; border-bottom:solid 1px #eee; line-height:2.6em; padding:2px 10px; font-size:14px;}
.content .btnCatGrp {float:right; position:absolute; top:30px; right:40px;}
.content .btnCatGrp .btnCat {width:30px; padding:2px 10px; background-color:#2d313a; font-size:13px; font-weight:500; color:#fff; border:solid 1px #101010;}
.content .date {position:absolute; top:10px; right:0;}


/* view notice */

.notice .viewDetail {width:100%; min-height:300px; border-top:solid 1px #ddd; border-bottom:solid 1px #ddd; padding:10px; line-height:1.6em;}
.notice .noticeTitle {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.notice .noticeTitle .noticeDate {float:right; font-size:14px; letter-spacing:0;}
.notice .attatchGrp {width:100%; padding:10px; overflow:hidden; font-size:14px; background-color:#f5f5f5; line-height:25px; background-image:url(../image/icon_file.png); background-repeat:no-repeat; background-position:5px center; padding-left:30px;}
.notice .attatch {width:70px; vertical-align:middle;}
.notice .attatchFile {padding-left:10px;}
.notice .attatchEnd {border-bottom:solid 1px #aaa;}


/* view FAQ */

.faq .faqDetail  {width:100%; min-height:300px; border-top:solid 1px #ddd; border-bottom:solid 1px #aaa; padding:10px; line-height:1.6em;}
.faq .faqTitleQsn  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.faq .faqTitleAns  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.faq .faqTitle .div {color:#ddd;}
.faq .faqDate {float:right; font-size:14px; letter-spacing:0;}
.faq .faqQuestion {background-image:url(../image/icon_question.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
.faq .faqAnswer {background-image:url(../image/icon_answer.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}


/* view QnA */

.qna .qnaDetail  {width:100%; min-height:300px; border-top:solid 1px #ddd;   border-bottom:solid 1px #aaa;  padding:10px; line-height:1.6em;}
.qna .qnaTitleQsn  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.qna .qnaTitleAns  {font-size:16px; font-weight:600; letter-spacing:-1px; padding:10px;  border-top:solid 2px #555; background-color:#f5f5f5;}
.qna .qnaTitle .div {color:#ddd;}
.qna .qnaDate {float:right; font-size:14px; letter-spacing:0; text-align:right; font-weight:600; display:inline-block;}
.qna .qnaQuestion {background-image:url(../image/icon_question.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
.qna .qnaAnswer {background-image:url(../image/icon_answer.png); background-repeat:no-repeat; background-position:10px center; padding-left:50px;}
.qna .attatchEnd {border-bottom:solid 1px #aaa; margin-bottom:50px;}
.qna .attatchGrp {width:100%; padding:10px; overflow:hidden; font-size:14px; background-color:#f5f5f5; line-height:25px; background-image:url(../image/icon_file.png); background-repeat:no-repeat; background-position:5px center; padding-left:30px;}
.qna .attatch {width:70px; vertical-align:middle;}
.qna .attatchFile {padding-left:10px;}
.qna .attatchEnd {border-bottom:solid 1px #aaa;}



/* b2b join  2px solid #d3292c */

#b2bJoin {width:100%; border-top:solid 2px #333; font-size:16px;}
#b2bJoin .joinTitle {font-size:32px; font-weight:600; color:#101010; letter-spacing:-2px; line-height:2.0em; border-bottom:solid 1px #999; line-height:2.0em; padding-bottom:10px;}
#b2bJoin .btnClose {float:right; font-size:24px; font-weight:500; color:#999;}
#b2bJoin .joinForm {color:#777;  position:relative;}
#b2bJoin .joinForm li {padding:10px; border-bottom:solid 1px #ddd;}
#b2bJoin .joinForm .item {width:150px; display:inline-block; color:#333;}
#b2bJoin .joinForm .joinInput {padding:7px 10px; font-size:14px; color:#333; border:}
#b2bJoin .joinRadio1 {position:absolute; left:120px; top:15px;}
#b2bJoin .joinRadio2 {position:absolute; left:320px; top:15px;}
#b2bJoin .item10 {position:absolute; left:140px;}
#b2bJoin .item11 {position:absolute; left:340px;}
#b2bJoin .joinForm .btnGrpJoin {margin:0 auto; padding-left:150px; height:100px;}


/* terms */

#terms {width:800px; height:700px; padding:20px; border:solid 1px #999; position:absolute; z-index:3000; box-shadow:0px 10px 10px #ddd; left: -webkit-calc(50% - 400px); left: -moz-calc(50% - 400px); left: calc(50% - 400px); top:160px; z-index:10000; background-color:#fff; box-shadow:0px 10px 20px #ddd; font-size:14px; line-height:1.6em;}
#terms .title {font-size:22px; text-align:center; font-weight:500; padding:10px;}
#terms .termsGrp {padding:5px; margin:10px 0;}
#terms .termsGrp .termsTitle {font-size:18px; font-weight:600; line-height:2.0em;}
#terms .termsGrp .termsCon textarea {width:100%; height:180px; font-size:14px; line-height:1.8em;  background-color:#fafafa; border:solid 1px #ddd; }

/* agreement */

.agreeTerms {font-size:14px; line-height:1.6em;}
.agreeTerms .atc1 {font-size:15px; font-weight:600; line-height:3.0em; margin-top:20px;}
.agreeTerms .atc2 {font-size:14px; font-weight:600; line-height:2.0em; margin-top:15px;} 
.agreeTerms .atc3 {font-size:13px; color:#333; margin-top:15px; letter-spacing:-.5px; padding-left:10px;}}
.agreeTerms .atc4 {font-size:12px; color:#555; letter-spacing:-1px; line-height:2.0em;}
.agreeTerms .atcBold {font-weight:600; line-height:2.0em;}

.agreeTerms .agreeTable {width:100%; font-size:13px; border-left:solid 1px #aaa; border-top:solid 1px #aaa; margin:20px 0; letter-spacing:-1px;}
.agreeTerms .agreeTable th {border-right:solid 1px #aaa; border-bottom:solid 1px #aaa; padding:5px; background-color:#eee; font-weight:600;}
.agreeTerms .agreeTable td {border-right:solid 1px #aaa; border-bottom:solid 1px #aaa; padding:5px; text-align:center;}


/* grid*/
#jqgridData,#gridArea th {font-family:'나눔고딕',Nanum Gothic, '맑은 고딕', malgunGothic,'나눔스퀘어', NanumSquare, '돋움', dotum, Arial, sans-serif; }
span.viewIcon::after {content: ""; background-image: url(../image/icon_visiblity.png); background-size: 100%; display: inline-block; width: 40px; height: 20px; background-repeat: no-repeat; position: absolute;}

.marginTB4 {margin:4px 0px;}
#leftGrp .leftMenuGrp ul{width: 198px;}


/* previewThumnail */

#previewThumnail {position:absolute; width:700px; height:480px; border:solid 1px #999; top:100px; left:20%; padding:20px; background-color:#fff; box-shadow:5px 5px 2px #ddd;}
#previewThumnail .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
#previewThumnail  .thumName {padding:10px 0; font-size:14px;}
#previewThumnail .thumGrp td {border:solid 1px #aaa; vertical-align:baseline; text-align:center; font-size:12px;}
#previewThumnail .thumGrp img {border:solid 1px #aaa; margin:10px;}


/* metaWrite */

.metaWrite {position:absolute; width:500px; height:380px; border:solid 1px #999; top:100px; left:30%; padding:20px; background-color:#fff; box-shadow:5px 5px 2px #ddd;}
.metaWrite .popupTitle {padding:10px 5px; font-size:18px; font-weight:600; width:100%; position:relative; text-align:center; border-bottom:solid 2px #333;}
.metaWrite .metadataName {padding:10px 0; font-size:14px;}
.metaWrite .metadataGrp {border:solid 1px #aaa; padding:10px; font-size:14px;}
.metaWrite .metadataGrp th {text-align:right; padding:10px; background-color:#;f5f5f5};
.metaWrite .metadataGrp td {padding:10px; border-bottom:solid 1px #ddd; background-color:#f5f5f5;}


/* blockChain */

.block-chain-tap-group {border:solid 0px #f30; height:36px; }
.block-chain-tap-group .block-chain-caution {float:left; line-height:30px; padding-left:26px; color:#f00; background-image:url(../image/icon_caution.png); background-repeat:no-repeat; background-position:0 8px;}
.select-per-grp {height:36px; font-size:14px; float:right; padding:0;}

.select-radio-grp {height:46px; border-top:solid 1px #aaa; margin-top:5px; padding-top:10px;}
.select-radio-grp label  {height:30px;}
.select-radio-grp input[type="radio"] {margin-top:-1px; vertical-align:middle;}
